.first{text-align:center; background:#AEB273;color:#9CBDEF;padding:10px;}
.second{text-align:center; background:#AEB273;color:#9CBDEF;padding:10px;}
body{background:lightseagreen;}
.third{text-align: center; color:navy;}
.forth{text-align:justify; color: #9CBDEF;background-color:black;}
.fifth{text-align: middle;}
h1{text-align:center;color: darkcyan;}
.sixth{border: 1px solid brown;}